# Local development environment overrides
/local.nix

#Task
/.task
/Taskfile.yaml
/Taskfile.yml

# Misc
.DS_Store
.todo

# Dependencies
node_modules
.pnpm-store

# Build
/dist

# Debug
pnpm-debug.log*

# Typescript
*.tsbuildinfo
